@{Html.RenderPartial("_navbar"); }
<p>Replace @Model.GetName()'s @Model.GetScissorsName() With @Model.GetDropInfo()?</p>

<form class="" action="/Stylist/@Model.GetId()/Replace" method="post">
<input type="hidden" id="change" name="change" value="true">
<button type="submit">Yes</button>
</form>

<form class="" action="/Stylist/@Model.GetId()/Replace" method="post">
<input type="hidden" id="change" name="change" value="false">
<button type="submit">No</button>
</form>
