@{Html.RenderPartial("_navbar"); }
<h1>List of Stylists</h1>

<ul>
  @foreach(var stylist in Model)
  {
    <a href="Stylist/@stylist.GetId()">@stylist.GetName() Level: @stylist.GetLevel()</a><br>
  }
</ul>

<a href=/stylist/new>ADD A STYLIST</a>
@if(Model.Count > 0)
{
  <a href=/client/new>ADD A CLIENT</a>
}
