<h1>List of Stylists</h1>

<ul>
  @foreach(var client in Model)
  {
    <a href="/Client/@client.GetId()">@client.GetName()</a><br>
  }
</ul>

<a href=/stylist/new>ADD A STYLIST</a>
<a href=/client/new>ADD A CLIENT</a>
